body{
    background-color: #262424;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.nav1{
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    top: 20px;
    margin-top: 20px;

    width: 180px;
    background-color: #35A29F;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}


a{
    color: white;
}

.Nav li{
    float: left;
    display: block;
      
  
}

.Nav li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px 10px; 
}

.imgg{
    width: 200px;
    margin-inline:auto;
}

img{
    width: 200px;
    border-radius: 500%;
    
}

.Tabel {
    color: white;
    width: 200px;
    margin-inline:auto;
}

a{
    text-decoration: none;
}
