body{
    background-color: #262424;
      
 }
 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.Nav{
    list-style-type: none;
    background-color: #52057B;
    overflow: hidden;
    position: sticky;
    top: 0;

    outline: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
a{
    color: white;
  
}

.Nav li{
    float: left;
    display: block;

}
.Nav li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px 10px;
}

.Tabel {
    color: white;
    margin: 10px;
}

h2{
    color: white;
    margin: 10px;
    
}


