body{
    background-color: #262424;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.nav1{
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    top: 20px;

    width: 180px;
    background-color: #35A29F;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}


a{
    color: white;
   

  
}

.Nav li{
    float: left;
    display: block;
      
  
}

.Nav li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px 10px;
    
    
}

.Andrei{
    font-size: 20px;
    color: white;
    background-color: #35A29F;
    width: 180px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

.Biografie1{
    background-color: #35A29F;
    width: 500px;
    margin-inline: auto;
    border-radius: 200px;
}

.Biografie{
    color: white;
    margin-inline: auto;
    font-size: 100px;

    outline: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}



.p1{
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #35A29F;
    width: 500px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;

}
.tabel{
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #35A29F;
    width: 180px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}



