body{
   
    height: 100vh;
   
     background-image: linear-gradient(to top , #01989f  , #00284c );
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.nav1{
   
    overflow: hidden;
    position: sticky;
    top: 10px;
    /* background-color: #00e5bc; */

}
.Nav{
    display: flex;
    justify-content: center;
}



a{

    font-size: 25px;
}

.Nav li{
   list-style-type:none;
      
  
}

.Nav li a{
    display: block;
    text-decoration: none;
    color: #01989f;
    padding: 3px 30px; 
    
}













/* Nav sus */



/* .Andrei{
    font-size: 20px;
    color: black;
    background-color: #00e5bc;
    width: 180px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

.Biografie1{
    background-color: #00e5bc;
    width: 250px;
    margin-inline: auto;
    position: relative;
    top: 20px;
   
    border-bottom-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
}

.Biografie{
    color: black;
    margin-inline: auto;
    font-size: 50px;

    outline: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
    
}



.p1{
    margin-top: 20px;
    font-size: 20px;
    color: black;
    background-color: #00e5bc;
    width: 500px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;

}
.tabel{
    margin-top: 20px;
    font-size: 20px;
    color: black;
    background-color: #00e5bc;
    width: 180px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
} */






