


.h1{
    color: blue;
    text-align: center;
   text-transform: capitalize;
   text-decoration: underline;
    letter-spacing: 3px;
    text-shadow: 3px 4px 7px orange;
}

p{
    color: black;
    letter-spacing: -3px;
    
}

